.main{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.info{
    width: 600px;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover{
    color: red;
}


