.header{
    max-width: 1600px;
    margin-top: 15px;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 1);
    height: 50px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    align-items: center;
}

.btn{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover{
    background: #5dade2;
    color: whitesmoke;
}


.btns{
    display: flex;
    gap: 20px;
}